{# This is the leaf template #}
{# MLAG #}
spanning-tree mode mstp

no spanning-tree vlan-id 4094                                      

vlan 4094
   trunk group MLAGPEER

interface Vlan4094
   description MLAG PEER LINK
   {% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   ip address 192.168.255.1/30
   {% else %}
   ip address 192.168.255.2/30
   {% endif %}

interface Port-Channel10
   description MLAG PEER LINK - LEAF
   switchport mode trunk
   switchport trunk group MLAGPEER

interface Ethernet1
   description MLAG PEER LINK - LEAF
   switchport mode trunk
   channel-group 10 mode active

interface Ethernet2
   description MLAG PEER LINK - LEAF
   switchport mode trunk
   channel-group 10 mode active

mlag configuration
   domain-id MLAG
   local-interface Vlan4094
   {% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   peer-address 192.168.255.2
   {% else %}
   peer-address 192.168.255.1
   {% endif %}
   peer-link Port-Channel10

{# This is for EVPN #}

service routing protocols model multi-agent

{# This section is static, no need to modify#}

ip prefix-list LOOPBACK
    seq 10 permit 10.1.0.0/24 eq 32
    seq 20 permit 10.1.1.0/24 eq 32
    seq 30 permit 10.2.0.0/24 eq 32
    seq 40 permit 10.2.1.0/24 eq 32

route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK

{# Pull the ASN and router-id from the underlay.yml file #}

router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4'] }}
   no bgp default ipv4-unicast
   maximum-paths 3
   distance bgp 20 200 200

{# This is the connection to the spines#}

   neighbor SPINE_Underlay peer group  
   neighbor SPINE_Underlay remote-as {{ underlay['global']['DC2']['spine_ASN'] }}
   neighbor SPINE_Underlay send-community
   neighbor SPINE_Underlay maximum-routes 12000

{# This is the connection to the leaf peer #}

   neighbor LEAF_Peer peer group
   neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   neighbor LEAF_Peer next-hop-self
   neighbor LEAF_Peer maximum-routes 12000

{# This must be a loop, preferably a "for" loop, to put the neighbor relationships in #}
{% for spinepeer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ spinepeer }} peer group SPINE_Underlay
{% endfor %}

{# This is a conditional (if statements), if the switch is "Odd" the neighbor is 192.168.255.2, if it's even the neighbor is 192.168.255.1 #}
{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
  neighbor 192.168.255.2 peer group LEAF_Peer
{% elif underlay[inventory_hostname]['MLAG'] == "Even" %}
  neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}

   {#   neighbor 192.168.255.2 peer group LEAF_Peer #}
   {#.  neighbor 192.168.255.1 peer group LEAF_Peer #}

{# This part is static and you don't need to change #}
   
   redistribute connected route-map LOOPBACK
   address-family ipv4
     neighbor SPINE_Underlay activate
     neighbor LEAF_Peer activate
     redistribute connected route-map LOOPBACK
